@model Agilisium.TalentManager.Web.Models.AllocationModel

@{
    ViewBag.Title = "Create a New Project Allcation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script>
    $(document).ready(function () {
        if ($("#ProjectID").val() != "") {
            loadProjectDetails();
        }

        if ($("#EmployeeID").val() != "") {
            loadEmployeeDetails();
        }
    });

    $(function () {
        $("#ProjectID").change(function (evt) {
            if ($("#ProjectID").val() != "") {
                loadProjectDetails();
            }
        });
    });

    $(function () {
        $("#EmployeeID").change(function (evtn) {
            if ($("#EmployeeID").val() != "" && $("#ProjectID").val() != "") {
                loadEmployeeDetails();
            }
        });
    });

    formatJsonDateString = function (value) {
        var a;
        if (typeof value == 'string') {
            a = /\/Date\((\d*)\)\//.exec(value);
            if (a) {
                var dateVal = new Date(+a[1]);
                var month = dateVal.getMonth() + 1;
                var day = dateVal.getDate();
                var year = dateVal.getFullYear();
                return month + "/" + day + "/" + year;
            }
        }
        return value;
    }

    function loadEmployeeDetails() {
        var v_data = {};
        v_data.empID = $("#EmployeeID").val();
        v_data.prjID = $("#ProjectID").val();

        $.ajax({
            url: "/Allocation/GetEmploymentDetails",
            type: "POST",
            data: JSON.stringify(v_data),
            contentType: "application/json",
            success: function (data) {
                $("#howMuchOccupied").text(data);
            },
            error: (function () {
                alert("Error has occured while loading employee details");
            })
        });
    }

    function loadProjectDetails() {
        $.ajax({
            url: "/Allocation/GetProjectDetails",
            type: "POST",
            data: { projectID: $("#ProjectID").val() },
            success: function (data) {
                $("#AllocationStartDate").val(formatJsonDateString(data["StartDate"]));
                $("#AllocationEndDate").val(formatJsonDateString(data["EndDate"]));
                $("#pmName").text(data["ProjectManagerName"]);
            },
            error: function () {
                alert("Error has occured while loading project details");
            }
        });
    }

</script>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Create a New Project Allcation</h3>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="panel-body">
            @Html.ValidationSummary(false, "Please correct the below Validation Errors to save the data")
            <div>
                <table style="width:95%">
                    <tr>
                        <td width="25%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProjectID)
                                @Html.DropDownListFor(model => model.ProjectID, (IEnumerable<SelectListItem>)ViewBag.ProjectListItems, null, new { @class = "form-control" })
                            </div>
                        </td>
                        <td width="25%">
                            <div class="form-group">
                                @Html.LabelFor(model => model.EmployeeID)
                                @Html.DropDownListFor(model => model.EmployeeID, (IEnumerable<SelectListItem>)ViewBag.EmployeeListItems, null, new { @class = "form-control" })
                            </div>
                        </td>
                        <td width="45%" valign="top" rowspan="3">
                            <table style="width:100%; height:100%">
                                <tr>
                                    <td>
                                        @*<div class="form-group">
                                                <label>How Much Occupied:</label>
                                                <label id="howMuchOccupied"></label>
                                            </div>
                                            <div class="form-group">
                                                <label>Project Manager:</label>
                                                <label id="pmName"></label>
                                            </div>
                                            <div class="form-group">
                                                <label>Allocated Resources:</label>
                                                <label id="resoucesCount"></label>
                                            </div>*@
                                    </td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.AllocationStartDate)
                                @Html.EditorFor(model => model.AllocationStartDate, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.AllocationEndDate)
                                @Html.EditorFor(model => model.AllocationEndDate, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.AllocationTypeID)
                                @Html.DropDownListFor(model => model.AllocationTypeID, (IEnumerable<SelectListItem>)ViewBag.ProjectTypeListItems, null, new { @class = "form-control" })
                                <br />
                                @Html.LabelFor(model => model.PercentageOfAllocation)
                                @Html.EditorFor(model => model.PercentageOfAllocation, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Remarks)
                                @*@Html.TextArea("Remarks", null, new { @class = "form-control", rows = 5 })*@
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel and Go Back", "List", null, new { @class = "btn btn-default" })
            </div>

        </div>
    }
</div>
