@model Agilisium.TalentManager.Web.Models.EmployeeViewModel

@{
    ViewBag.Title = "Edit Employee Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $("#PracticeID").change(function (evt) {

            if ($("#PracticeID").text() != "Please Select") {

                $.ajax({
                    url: "/Employee/SubPracticeList",
                    type: 'POST',
                    data: { id: $("#PracticeID").val() },
                    success: function (data) {
                        $('#SubPracticeID').empty();
                        $.each(data, function () {
                            $("#SubPracticeID").append($("<option></option>").val(parseInt(this['Value'])).text(this['Text']));
                        });
                        ddlSubPractice.prop('disabled', false);
                    },
                    error: function (xhr) { alert('Error while loading the Sub Practice list'); }
                });
            }
        });
    });
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Edit Employee Details</h3>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="panel-body">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div>
                <table style="width:80%">
                    <tr>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.EmployeeID)
                                @Html.EditorFor(model => model.EmployeeID, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName)
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName)
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BusinessUnitID)
                                @Html.DropDownListFor(model => model.BusinessUnitID, (IEnumerable<SelectListItem>)ViewData["BuDDList"], null, new { @class = "form-control" })
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PracticeID)
                                @Html.DropDownListFor(model => model.PracticeID, (IEnumerable<SelectListItem>)ViewData["PracticeDDList"], null, new { @class = "form-control" })
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SubPracticeID)
                                @Html.DropDownListFor(model => model.SubPracticeID, (IEnumerable<SelectListItem>)ViewData["SubPracticeDDList"], null, new { @class = "form-control" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DateOfJoin)
                                @Html.EditorFor(model => model.DateOfJoin, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastWorkingDay)
                                @Html.EditorFor(model => model.LastWorkingDay, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PrimarySkills)
                                @Html.EditorFor(model => model.PrimarySkills, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SecondarySkills)
                                @Html.EditorFor(model => model.SecondarySkills, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ReportingManagerID)
                                @Html.DropDownListFor(model => model.ReportingManagerID, (IEnumerable<SelectListItem>)ViewData["EmployeesDDList"], null, new { @class = "form-control" })
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProjectManagerID)
                                @Html.DropDownListFor(model => model.ProjectManagerID, (IEnumerable<SelectListItem>)ViewData["EmployeesDDList"], null, new { @class = "form-control" })
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.UtilizationTypeID)
                                @Html.DropDownListFor(model => model.UtilizationTypeID, (IEnumerable<SelectListItem>)ViewData["UtilizationTypeDDList"], null, new { @class = "form-control" })
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            @Html.HiddenFor(model => model.EmployeeEntryID);
            <div class="panel-footer">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel and Go Back", "Index", null, new { @class = "btn btn-default" })
            </div>

        </div>
    }
</div>

