@model IEnumerable<Agilisium.TalentManager.Web.Models.EmployeeViewModel>

@{
    ViewBag.Title = "All Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>All Employees</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.EmployeeID)
                </th>
                <th class="text-center">
                    @Html.DisplayName("Employee Name")
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.BusinessUnitName)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.PracticeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubPracticeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfJoin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrimarySkills)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UtilizationTypeName)
                </th>
                <th class="text-center">Actions</th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeID)
                </td>
                <td>
                    @Html.ActionLink($"{item.LastName}, {item.FirstName}", "Edit", new { id = item.EmployeeEntryID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessUnitName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PracticeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubPracticeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfJoin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimarySkills)
                </td>
                <td>
                    @Html.DisplayFor(model => item.UtilizationTypeName)
                </td>
                <td class="text-center">
                    @using (Html.BeginForm("Delete", "Employee"))
                    {
                        @Html.Hidden("id", item.EmployeeEntryID)
                        <input type="submit" class="btn btn-default btn-xs" value="Delete" />
                    }
                </td>
            </tr>
            }

        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Add a New Employee", "Create", null, new { @class = "btn btn-default" })
    </div>
</div>