@model Agilisium.TalentManager.Web.Models.PracticeModel

@{
    ViewBag.Title = "Update Practice";
}
<link href="~/Content/error-styles.css" rel="stylesheet" />

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Update Practice</h3>
    </div>

    @using (Html.BeginForm())
    {
        <div class="panel-body">
            @Html.HiddenFor(model => model.PracticeID)
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(false, "Please correct the below Validation Errors to save the data")

            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "PracticeID"
                    && property.PropertyName != "IsReserved"
                    && property.PropertyName != "LoggedInUserName")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                    </div>
                }
            }
            <div class="panel-footer">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel and Go Back", "List", null, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>

