@using Agilisium.TalentManager.Web.Helpers

@model Agilisium.TalentManager.Web.Models.PracticeViewModel

@{
    ViewBag.Title = "All Practices";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>All Practices</h3>
    </div>
    <div class="panel-body">
        <table style="width: 50%" class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Practices.FirstOrDefault().PracticeName)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Practices.FirstOrDefault().ShortName)
                </th>
                <th class="text-center">Actions</th>
            </tr>
            @foreach (var item in Model.Practices)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.PracticeName, "Edit", new { id = item.PracticeID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortName)
                    </td>
                    <td class="text-center">
                        @using (Html.BeginForm("Delete", "Practice"))
                        {
                            @Html.Hidden("id", item.PracticeID)
                            <input type="submit" onclick="return confirm('Are you sure you about deleting this Practice?');" class="btn btn-default btn-xs" value="Delete" />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Add a New Practice", "Create", null, new { @class = "btn btn-default" })
        <div class="btn-group pull-right">
            @Html.AddPagination(Model.PagingInfo, x => Url.Action("List", new { page = x }))
        </div>
    </div>
</div>

